
body {
    box-sizing: border-box;
    line-height: 1;
}

header {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.title_profile {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 180px;
    border-radius: 100%;

}

div {
    display: flex;
    justify-content: center;
  }

p{
    text-align: center;
}

h1{
    color: rgb(77, 77, 231);
}